@import "../../shared/styles/application.styles.scss";
//@inport url('https://fonts.googleapis.com/icon?family=Material+Icons');
span {
  color: green;
  font-family: "Material Icons";
}

.create-button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
