@import 'src/shared/styles/application.styles.scss';

:host(#test) {
  --lumo-contrast-10pct: black;
  --lumo-secondary-text-color: black;
  --lumo-contrast-60pct: black;
  --lumo-body-text-color: black;
}

:host(#test) {
  --lumo-contrast-10pct: black;
  --lumo-secondary-text-color: black;
  --lumo-contrast-60pct: black;
  --lumo-body-text-color: black;
}

:host {
  --dropdown-background: rgba(0, 0, 0, 0.3);
  font-family: #{$default-font};
}

.location {
  display: flex;

  &.mobile,
  &.tablet {
    display: block;
  }

  .location-selection {
    color: #333;
    margin-top: 2rem;
    font-family: #{$default-font};
    flex: 2 0;
  }

  .information {
    margin-left: 2rem;
    margin-top: 2rem;
    flex: 1 0;
    mwc-textfield,
    mwc-textarea {
      width: 100%;
      background-color: white;
      margin-top: 1rem;
    }
  }
}
