.location {
  line-height: 2px;
  margin: 2px;
  padding: 0px;
}

.location p.location-detail {
  color: #888;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

vaadin-item {
  line-height: 10px;
}

html {
}

vaadin-combo-box {
  width: 100%;
}
